<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container my-4">
    <div class="card shadow-lg" style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-header text-center" style="background-color: #0B192C; color: white;">
            <h2>Cadastrar Cliente</h2>
        </div>
        <div class="card-body">
            <form action="/clientes/new" method="POST">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome do Cliente:</label>
                    <input type="text" name="nome" id="nome" placeholder="Insira o nome do Cliente" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF do Cliente:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Insira o CPF do Cliente" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="endereco" class="form-label">Endereço do Cliente:</label>
                    <input type="text" name="endereco" id="endereco" placeholder="Insira o endereço do Cliente" class="form-control" required>
                </div>
                <input type="submit" class="btn btn-success" style="background-color: #FF6500;" value="Cadastrar Cliente">
            </form>
        </div>
    </div>

    <div class="card shadow-lg my-4" style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-header text-center" style="background-color: #0B192C; color: white;">
            <h2>Lista de Clientes</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped text-center">
                <thead class="bg-light">
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientes.forEach(cliente => { %>
                    <tr>
                        <td><img src="imgs/avatar.png" width="50px" alt="Cliente"></td>
                        <td><%= cliente.nome %></td>
                        <td><%= cliente.cpf %></td>
                        <td><%= cliente.endereco %></td>
                        <td>
                            <a class="btn btn-warning btn-xs" href="/clientes/edit/<%= cliente.id %>" style="font-size: 0.8rem; padding: 5px 8px; width: 70px; margin-right: 5px;">Editar</a>
                            <a class="btn btn-danger btn-xs" href="/clientes/delete/<%= cliente.id %>" style="font-size: 0.8rem; padding: 5px 8px; width: 70px;" onclick="return confirm('Quer mesmo deletar o Cliente <%= cliente.nome %>?')">Deletar</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
