<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container my-4">
    <div class="card shadow-lg" style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-header text-center" style="background:#0B192C; color: white;">
            <h2>Editar Cliente</h2>
        </div>
        <div class="card-body">
            <form action="/clientes/update" method="POST">
                <div class="mb-3">
                    <label class="form-label">Nome do Cliente:</label>
                    <input class="form-control" type="text" name="nome" id="nome" value="<%= cliente.nome %>" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">CPF do Cliente:</label>
                    <input class="form-control" type="text" name="cpf" id="cpf" value="<%= cliente.cpf %>" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Endereço do Cliente:</label>
                    <input class="form-control" type="text" name="endereco" id="endereco" value="<%= cliente.endereco %>" required />
                </div>
                <input type="hidden" name="id" value="<%= cliente.id %>">
                <input type="submit" class="btn" style="background-color: #FF6500; color:white" value="Alterar" onclick="return confirm('Confirma as alterações para o cliente <%= cliente.nome %>?')" />
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
