<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container my-4">
    <div class="card shadow-lg" style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-header text-center" style="background:#A5C8E1; color: white;">
            <h2 class="font-weight-bold">Editar Produto</h2>
        </div>
        <div class="card-body">
            <form action="/produtos/update" method="POST">
                <div class="mb-3">
                    <label class="form-label">Nome do Produto:</label>
                    <input class="form-control" type="text" name="nome" id="nome" value="<%= produto.nome %>" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Preço do Produto:</label>
                    <input class="form-control" type="text" name="preco" id="preco" value="<%= produto.preco %>" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Categoria do Produto:</label>
                    <input class="form-control" type="text" name="categoria" id="categoria" value="<%= produto.categoria %>" required>
                </div>

                <input type="hidden" name="id" value="<%= produto.id %>">
                
                <input type="submit" class="btn" style="background-color: #FF6500; color:white" value="Alterar" onclick="return confirm('Confirma as alterações para o produto <%= produto.nome %>?')">
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
